.top_page
  .topic
    - if user_signed_in?
      = link_to new_topic_path do
        Topicを追加
      - @topics.first(5).each do |topic|
        .topic__info
          = topic.created_at
          = link_to topic_path(topic) do
            .topic__title
              = topic.title
              = link_to edit_topic_path(topic) do
                .topic-edit-btn 編集
    - else
      - @topics.first(5).each do |topic|
        .topic__info
          = topic.created_at
          = link_to topic_path(topic) do
            .topic__title
              = topic.title
              = link_to edit_topic_path(topic) do
                .topic-edit-btn 編集
  .title
    .title__dear-wack Dear Wack
    .title__official-website 拝啓、クソ野郎____。
  .menu
    .menu__biography
      .menu__biography__title Biography
      .menu__biography__list
        = link_to profile_topics_path do
          Profile
      .menu__biography__list Interview
      .menu__biography__list Roots
    .menu__sns
      .menu__sns__title SNS
      .menu__sns__list
        = link_to "https://twitter.com/ttmts060", target: :_blank do
          Twitter
      .menu__sns__list
        = link_to "https://www.instagram.com/deardearwack/", target: :_blank do
          Instagram
      .menu__sns__list
        = link_to "https://www.tiktok.com/@dearwack", target: :_blank do
          Tiktok
    .menu__live
      .menu__live__title Live
      .menu__live__list Coming Soon...
    .menu__youtube
      .menu__youtube__title YouTube
      .menu__youtube__list Music channel
      .menu__youtube__list Wac channel
  .photos
    .photos__title 
      Pictures
      %span{class: "fas fa-sort-down"}
      - if user_signed_in?
        = link_to new_image_path do
          .add-photo 写真を追加
      - else
    .photos__box
      -@images.first(9).each do |photo|
        = link_to image_path(photo) do
          = image_tag photo.image.url, class: "photo", alt: "No image"
      = link_to images_path do
        More
= render 'layouts/footer'