.top_page
  .topic
    .topic__info
      2020/03/21
      = link_to "#" do
        .topic__title 新型コロナウイルスに伴うLIVE中止のお知らせ。
    .topic__info
      2020/03/24
      = link_to "#" do
        .topic__title TikTok開設。
    .topic__info
      2020/03/25
      = link_to "#" do
        .topic__title プロフィールを追加しました。
    .topic__info 
      2020/03/30
      = link_to "#" do
        .topic__title ホームページ訪問時のアニメーションを追加しました。
    .topic__info
      2020/04/10
      = link_to "#" do
        .topic__title TikTok毎日配信開始！！
  .title
    .title__dear-wack Dear Wack
    .title__official-website 拝啓、クソ野郎____。
  .menu
    .menu__biography
      .menu__biography__title Biography
      .menu__biography__list
        = link_to profile_topics_path do
          Profile
      .menu__biography__list Interview
      .menu__biography__list Roots
    .menu__sns
      .menu__sns__title SNS
      .menu__sns__list
        = link_to "https://twitter.com/ttmts060", target: :_blank do
          Twitter
      .menu__sns__list
        = link_to "https://www.instagram.com/deardearwack/", target: :_blank do
          Instagram
      .menu__sns__list
        = link_to "https://www.tiktok.com/@dearwack", target: :_blank do
          Tiktok
    .menu__live
      .menu__live__title Live
      .menu__live__list Coming Soon...
    .menu__youtube
      .menu__youtube__title YouTube
      .menu__youtube__list Music channel
      .menu__youtube__list Wac channel
  .photos
    .photos__title 
      Pictures
      %span{class: "fas fa-sort-down"}
    .photos__box
      = image_tag "1.JPG", alt: "test", class: "photo"
      = image_tag "2.JPG", alt: "test", class: "photo"
      = image_tag "profile.JPG", alt: "test", class: "photo"
    .photos__box
      = image_tag "4.JPG", alt: "test", class: "photo"
      = image_tag "5.JPG", alt: "test", class: "photo"
      = image_tag "6.JPG", alt: "test", class: "photo"
    .photos__box
      = image_tag "7.JPG", alt: "test", class: "photo"
      = image_tag "8.jpg", alt: "test", class: "photo"
      = image_tag "9.JPG", alt: "test", class: "photo"
= render 'layouts/footer'